<aside id="sidebar">
  {% if site.show_downloads %}
    <a href="{{ site.resume }}" class="button">
      <small>Download</small>
      Resume
    </a>
  {% endif %}

  {% if site.github.is_project_page %}
    <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
  {% endif %}
  <h3>Around the Web</h3>
     <ul class="list-inline">
         <li>
             <a href="https://www.facebook.com/vishnu.jayadhevan" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
         </li>
         <li>
             <a href="http://stackoverflow.com/users/4840468/vishnu-jayan" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
         </li>
         <li>
             <a href="https://www.quora.com/profile/Vishnu-Jayan-3" class="btn-social btn-outline"><i class="fa fa-fw fa-quora"></i></a>
         </li>
         <li>
             <a href="https://www.linkedin.com/in/vishnujayadhevan" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
         </li>
     </ul>
</aside>
